<ion-item>
  <ion-label>
    Enable Bedtime
  </ion-label>
  <ion-toggle color="positive" [checked]="customize" [(ngModel)]="customize"></ion-toggle>
</ion-item>


<div *ngIf="customize">
  
  <h3 class="joshBedtime-heading">
    Weeknights
  </h3>
  <!-- <div>
    <button ion-button color="calm" small>
      Su
    </button>
    <button ion-button color="calm" small>
      M
    </button>
    <button ion-button color="calm" small>
      T
    </button>
    <button ion-button color="calm" small>
      W
    </button>
    <button ion-button color="calm" small>
      Th
    </button>
    <button ion-button outline color="calm" small>
      F
    </button>
    <button ion-button outline color="calm" small>
      Sa
    </button>
  </div> -->

  <div text-center>
    <p class="joshBedtime-heading">
      Awake time applies to the day following the bedtime.
    </p>
  </div>
  
    <ion-item>
      <ion-label>Bedtime</ion-label>
      <ion-select [(ngModel)]="weeknightBedtime" >
        <ion-option>9 PM</ion-option>
        <ion-option>10 PM</ion-option> 
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Awake</ion-label>
      <ion-select [(ngModel)]="weeknightAwaketime">
        <ion-option>6 AM</ion-option>
        <ion-option>7 AM</ion-option>
      </ion-select>
    </ion-item>
    
    <div class="joshBedtime-spacer"></div>
    <h3 class="joshBedtime-heading">
      Weekends
    </h3>
    <!-- <div>
      <button ion-button outline color="calm" small>
        Su
      </button>
      <button ion-button outline color="calm" small>
        M
      </button>
      <button ion-button outline color="calm" small>
        T
      </button>
      <button ion-button outline color="calm" small>
        W
      </button>
      <button ion-button outline color="calm" small>
        Th
      </button>
      <button ion-button color="calm" small>
        F
      </button>
      <button ion-button color="calm" small>
        Sa
      </button>
    </div> -->
    <div text-center>
      <p class="joshBedtime-heading">
        Awake time applies to the day following the bedtime.
      </p>
    </div>
    <ion-item>
      <ion-label>Bedtime</ion-label>
      <ion-select [(ngModel)]="weekendBedtime">
        <ion-option>9 PM</ion-option>
        <ion-option>10 PM</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Awake</ion-label>
      <ion-select [(ngModel)]="weekendAwaketime">
        <ion-option>6 AM</ion-option>
        <ion-option>7 AM</ion-option>
      </ion-select>
    </ion-item>
</div>
<button ion-button color="calm" block (tap)="createProfile()">
  Next
</button> 