page-josh-offtime {
    $black: #000000;

    .joshOfftime-heading {
        color: $black;
    }
    .joshOfftime-spacer {
        width: 300px;
        height: 25px;
    }
    .joshOfftime-spacer-39{
        width: 300px;
        height: 39px;
    }
}
