page-josh-devices {
    .jd-m {
        margin-top: 50px !important;
    }
    .jd-width {
        width:100% !important;
        max-width: 100% !important;
    }
    .jd-icon {
        font-size:20px !important;
        margin-left: 10px !important;
    }
}
