<ion-item>
  <ion-label>
    Customize Filters
  </ion-label>
  <ion-toggle color="positive" [checked]="customize" [(ngModel)]="customize"></ion-toggle>
</ion-item>

<div *ngIf="customize">
    <div class="setInitialFilters-spacer-2"></div>
  <h3 class="joshFilters-heading">
    Safety and Security
  </h3>
  <ion-list *ngFor= "let sns of safetySecurity; let i = index" no-lines>
    <ion-item>
        <div (click)="toggleGroup(i)">{{sns.displayName}} <ion-icon name="information-circle" ></ion-icon></div>
      <button ion-button item-right [ngStyle]="{'background-color': sns.buttonColor}" (tap)="toggleSSFilters(i)">{{sns.status}}</button>
      <div *ngIf="isGroupShown(i)">
          <p>{{sns.helpInfo}} </p>
      </div> 
    </ion-item>
  </ion-list>
  <ion-item>
      <div (click)="toggleGroup(i)">
          Block Viruses & Scams <ion-icon name="information-circle"></ion-icon>
        </div>
      <ion-note item-right>Always On</ion-note>
      <div *ngIf="isGroupShown(i)">
          <p>Over 1 Million Virus, Scam, and Phishing websites are always and automatically blocked to keep your device safe. </p>
      </div> 
    </ion-item>
  <div class="joshFilters-spacer"></div> 
  
  <!-- Show the App Filters -->
  <h3 class="joshFilters-heading">
    Apps and Websites
  </h3>
  <ion-list *ngFor="let appf of appFilters; let i = index">
    <ion-item>
      <ion-avatar item-left>
        <img [src]="appf.squareIcon" /> 
      </ion-avatar>
      <ion-label>{{appf.appName}}</ion-label>
      <!-- <button ion-button item-right  [ngStyle]="{'background-color': buttonColor}" (tap)="toggleAllowBlock(i)">{{appf.status}}</button> -->
      <button ion-button item-right [ngStyle]="{'background-color': appf.buttonColor}" (tap)="toggleAppFilters(i)">{{appf.status}}</button>
    </ion-item>
  </ion-list>
  <div class="joshFilters-spacer"></div>
  
  <!-- Show the Category Filters -->
  <h3 class="joshFilters-heading">
    Website Categories
  </h3>
  <ion-list *ngFor = "let cat of categoryFilters; let i = index">
    <ion-item>
        <div (click)="toggleGroup(i + 'cat')">
            {{cat.CategoryName}} <ion-icon name="information-circle"></ion-icon>
          </div>
      <button ion-button item-right [ngStyle]="{'background-color': cat.buttonColor}" (tap)="toggleCategoryFilters(i)">{{cat.status}}</button>
      <div *ngIf="isGroupShown(i + 'cat')">
          <p>{{cat.CategoryDescription}} </p>
      </div>     
    </ion-item>
  </ion-list>
  <div class="joshFilters-spacer"></div>
  
  <!-- Show the Custome Filters -->
  <h3 class="joshFilters-heading">
    Custom Filters
  </h3>
  <div>
    <p class="joshFilters-heading">
      Allows you to block (or allow) any website. These settings override any of the above settings.
      
    </p>
  </div>
  <ion-list *ngFor="let cf of customFilters; let i = index" no-lines>
    <ion-item>
      <ion-icon name="information-circle" item-left></ion-icon>
      {{cf.url}}
      <button ion-button item-right [ngStyle]="{'background-color': cf.buttonColor}" (tap)="toggleCustomFilters(i)">{{cf.status}}</button>
    </ion-item> 
  </ion-list>
  <button ion-button outline color="calm" (tap)="goToAddCustomFilter()">
    Add Custom Filter
  </button>
  <div class="joshFilters-spacer"></div>
  
  <!-- Load the Default Filters -->
  <!-- <h3 class="joshFilters-heading">
    Load Defaults 
  </h3>
  <div>
    <p class="joshFilters-heading">
      Platform and Website Categories will be set to defaults. Custom filters will not be affected.
    </p>
  </div>
  <button ion-button outline color="calm">
    Child
  </button>
  <button ion-button outline color="calm">
    Teen
  </button>
  <button ion-button outline color="calm">
    Young Adult
  </button> -->
</div>
<div class="setInitialFilters-spacer-2"></div>
  <button ion-button color="calm" block (tap)="goToSetInitialBedtime()">
    Next
  </button>