<ion-item>
  <ion-label>
    Show Filters
  </ion-label>
  <ion-toggle color="positive" [checked]="customize" [(ngModel)]="customize"></ion-toggle>
</ion-item>

<div *ngIf="customize">
  <div class="setInitialFilters-spacer-2"></div>
  <div (click)="toggleGroup('ssinfo')">
    <h3 class="joshFilters-heading">
    Safety and Security <ion-icon name="information-circle"></ion-icon>
    </h3>
  </div>
  <div *ngIf="isGroupShown('ssinfo')">
      <p>For more information about each setting, click the info icon (i) next to each setting.</p>
    </div>
  <ion-list *ngFor= "let sns of safetySecurity; let i = index" no-lines>
    <ion-item>
        <div (click)="toggleGroup(i)">{{sns.displayName}} <ion-icon name="information-circle" ></ion-icon></div>
      <button ion-button item-right [ngStyle]="{'background-color': sns.buttonColor}" (tap)="toggleSSFilters(i)">{{sns.status}}</button>
      <div *ngIf="isGroupShown(i)">
          <p>{{sns.helpInfo}} </p>
      </div>
    </ion-item>
  </ion-list>
  <ion-item>
      <div (click)="toggleGroup(i)">
          Block Viruses & Scams <ion-icon name="information-circle"></ion-icon>
        </div>
      <ion-note item-right>Always On</ion-note>
      <div *ngIf="isGroupShown(i)">
          <p>Over 1 million Virus, Scam, and Phishing websites are automatically blocked to keep your device safe. </p>
      </div>
    </ion-item>
  <div class="joshFilters-spacer"></div>

  <!-- Show the App Filters -->
  <div (click)="toggleGroup('appinfo')">
    <h3 class="joshFilters-heading">
      Apps and Websites <ion-icon name="information-circle"></ion-icon>
    </h3>
  </div>
  <div *ngIf="isGroupShown('appinfo')">
    <p>You can allow or block the internet connection for the top 100+ apps for teens here.</p>
    <p>This won't block the app from installing, but it will block the app from connecting to the internet. Blocking games and other non-internet connected apps will be possible in a future release.</p>
     <p>As new apps become popular, they are automatically added and you will be notified. By default new apps are BLOCKED or ALLOWED based on the profile age settings.</p>
      <p>In addition, you can block entire categories of apps using the category filters below.</p>
  </div>
  <ion-list *ngFor="let appf of appFilters; let i = index" nolines>
    <ion-item>

          <ion-avatar item-left>
            <img [src]="appf.squareIcon" />
          </ion-avatar>
          <div (click)="toggleGroup(i + 'app')">
            <!-- <ion-label (click)="toggleGroup(i + 'app')">  -->
              {{appf.appName}} <ion-icon name="information-circle"></ion-icon>
            <!-- </ion-label> -->
         </div>
      <!-- <button ion-button item-right  [ngStyle]="{'background-color': buttonColor}" (tap)="toggleAllowBlock(i)">{{appf.status}}</button> -->
      <button ion-button item-right [ngStyle]="{'background-color': appf.buttonColor}" (tap)="toggleAppFilters(i)">{{appf.status}}</button>
      <div *ngIf="isGroupShown(i + 'app')">
          <p>{{appf.appInfo}}</p>
      </div>
    </ion-item>
  </ion-list>
  <div class="joshFilters-spacer"></div>

  <!-- Show the Category Filters -->
  <div (click)="toggleGroup('catinfo')">
    <h3 class="joshFilters-heading">
      Website & App Categories <ion-icon name="information-circle"></ion-icon>
    </h3>
  </div>
  <div *ngIf="isGroupShown('catinfo')">
      <p>SoaringSafe uses various 3rd party vendors to categorize all sites on the internet.</p>
       <p>Virtually all popular websites have been categorized. Thousands of new websites and apps are added every day.</p>
        <p>You can block entire categories of apps using the Website & App Category Filters Below:</p>
    </div>
  <ion-list *ngFor = "let cat of categoryFilters; let i = index" nolines>
    <ion-item>
        <div (click)="toggleGroup(i + 'cat')">
            {{cat.CategoryName}} <ion-icon name="information-circle"></ion-icon>
          </div>
      <button ion-button item-right [ngStyle]="{'background-color': cat.buttonColor}" (tap)="toggleCategoryFilters(i)">{{cat.status}}</button>
      <div *ngIf="isGroupShown(i + 'cat')">
          <p>{{cat.CategoryDescription}} </p>
      </div>
    </ion-item>
  </ion-list>
  <div class="joshFilters-spacer"></div>

  <!-- Show the Custome Filters -->
  <h3 class="joshFilters-heading">
    Custom Filters
  </h3>
  <div>
    <p class="joshFilters-heading">
      Allows you to block (or allow) any website. These settings override any of the above settings.

    </p>
  </div>
  <ion-list *ngFor="let cf of customFilters; let i = index" no-lines>
    <ion-item>
        <div (tap)= "editCustomFilter(i)">
            <ion-icon name="create" item-left></ion-icon>
            {{cf.url}}
        </div>
      <button ion-button item-right [ngStyle]="{'background-color': cf.buttonColor}" (tap)="toggleCustomFilters(i)">{{cf.status}}</button>
    </ion-item>
  </ion-list>
  <button ion-button outline color="calm" (tap)="goToAddCustomFilter()">
    Add Custom Filter
  </button>
  <div class="joshFilters-spacer"></div>

  <!-- Load the Default Filters -->
  <!-- <h3 class="joshFilters-heading">
    Load Defaults
  </h3>
  <div>
    <p class="joshFilters-heading">
      Platform and Website Categories will be set to defaults. Custom filters will not be affected.
    </p>
  </div>
  <button ion-button outline color="calm">
    Child
  </button>
  <button ion-button outline color="calm">
    Teen
  </button>
  <button ion-button outline color="calm">
    Young Adult
  </button> -->
</div>
<div class="setInitialFilters-spacer-2"></div>
  <button class="waves-effect waves-light btn-large primary-color width-100"  (tap)="goToSetInitialBedtime()">
    Next
  </button>

