page-pick-child-avatar {
    $black: #37474f;

    .pickChildAvatar-heading {
        color: $black;
    }

    .largerAvatar img {
        width: 60px;
        height: 60px;
    }

  *{font-family: 'Open Sans', sans-serif;}
  p {
    font-family: 'Open Sans', sans-serif;
    color: #76838f;
  }

  .spacer {
    width: 300px;
    height: 21px;
  }


  .pickChildAvatar-heading{
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    line-height: 1.11em;
    padding-top:20px

  }
  h1.page-title {    font-family: Nunito;
    font-size: 16px;
    color: #667F97; font-weight:bold;
  }

  a.go-back-link {
    color: #667F97;
  }
  .largerAvatar img {
    margin: 0 auto;
  }

  .pca-m {
    margin-top: 10px;
  }


}
