page-josh-time-limits {
    $black: #000000;

    .joshTimeLimits-p {
        color: $black;
    }

    .joshTimeLimits-spacer {
        width: 300px;
        height: 18px;
    }

    .joshTimeLimits-spacer-13 {
        width: 300px;
        height: 13px;
    }
}
