page-signup-for-soaring-safe {
    $black: #000000;
    $red: #ff0000;
  font-family: 'Open Sans', sans-serif!important;

    .signupForSoaringSafe-p {
        color: $black;
    }
    .signupForSoaringSafe-error {
        color: $red;
    }
    .signupForSoaringSafe-img {
        display: block;
        width: 90%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }
    .signupForSoaringSafe-spacer {
        width: 300px;
        height: 12px;
    }
  input.text-input.text-input-md {
    font-size: 16px;
  }

  .input-field .prefix ~ input {
    font-size: 15px;
  }

  .input-field .prefix ~ label {
    font-size: 16px;
  }
  .input-field .prefix ~ label.active {
    font-size: 13px;
  }

  i[class*=ion] {
    z-index: 9;
    top: 33px;
    position: absolute;
  }

  input {
  font-size: 16px!important;
  }
  ion-item input {
    border: none!important;
    padding: 0!important;
    margin: 0!important;
    width: 100%!important;
  }

  ion-item .item-inner {
    width: 100%;
    margin: 0!important;
    padding: 0!important;
  }

  i.prefix {

    left: 0px;
  }
  i.prefix {
    color: rgb(118, 131, 143);
  }
  i.prefix:before {
    font-size: 28px;
  }
  .pl-12{
    padding-left:40px;
  }
  .signup-form h1 {
    margin: 0!important;
  }
  .item-md.item-block .item-inner {
    border-bottom: 1px solid #9e9e9e!important;
    padding-bottom: 10px!important;
  }

  .font-smoothing-auto {
    -webkit-font-smoothing: auto!important
  }

  ion-label.label-md {
    font-family: 'Open Sans', sans-serif;
    color: #9e9e9e!important;
    font-size: 14px;
    -webkit-font-smoothing: auto;
    font-weight: normal;
    padding-left: 10px;
  }

}
