<ion-header>
  <ion-navbar>
    <ion-title>
      Signup for SoaringSafe
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <form novalidate (ngSubmit)="onSubmit(userValid)" [formGroup]="userValid">
    <!-- <form novalidate (ngSubmit)="onSubmit(userValid)" [formGroup]="userValid"> -->
    <div text-center>
      <p class="signupForSoaringSafe-p">
        <strong>
          You can sign up with the parent&#39;s or the child&#39;s phone
        </strong>
      </p>
    </div>
    <ion-list>
      <ion-item id="signupForSoaringSafe-input6">
        <ion-label>Parent's Name</ion-label>
        <ion-input type="text" placeholder="" formControlName = "parentName"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Email</ion-label>
        <ion-input type="text" value="" formControlName="email"></ion-input>
      </ion-item>
      <!-- Email Validation Code Starts -->
      <ion-item no-lines *ngIf="( userValid.get('email').hasError('required') || userValid.get('email').hasError('email') ) && userValid.get('email').touched">
        <div class="signupForSoaringSafe-error" *ngIf="userValid.get('email').hasError('required') && userValid.get('email').touched">
          email is required
        </div>
        <div class="signupForSoaringSafe-error" *ngIf="userValid.get('email').hasError('email') && userValid.get('email').touched">
          Please enter valid email
        </div>
      </ion-item>
      <!-- Email validation Code Ends -->
      <ion-item>
        <ion-label>Password</ion-label>
        <ion-input type="password" value="" formControlName="password"></ion-input>
      </ion-item>
      <!-- Password Validation code Start -->
      <ion-item no-lines *ngIf="( userValid.get('password').hasError('minlength') || userValid.get('password').hasError('required') ) && userValid.get('password').touched">
        <div class="signupForSoaringSafe-error" *ngIf="userValid.get('password').hasError('required') && userValid.get('password').touched">
          password is required
        </div>
        <div class="signupForSoaringSafe-error" *ngIf="userValid.get('password').hasError('minlength') && userValid.get('password').touched">
          Minimum of 7 characters
        </div>
      </ion-item>
      <!-- Password Validaton Code Ends -->
    </ion-list>
    
    <button ion-button color="stable" block (tap)="goToCreateChildProfile(user)" [disabled]="userValid.invalid">
      Sign up
    </button>
  </form>
  <button ion-button clear color="calm" block (tap)="goToLoginToSoaringSafe()">
    Login to existing account ...
  </button>
  <button ion-button icon-start block large color="danger" (click)="signInWithGoogle()">
    <ion-icon name="logo-googleplus"></ion-icon>
    Signup with Google
  </button>
</ion-content>