page-installation-check {
    .installationCheck-heading {
        color: #000000;
    }
    .installationCheck-spacer {
        width: 300px;
        height: 26px;
    }
    .installationCheck-img {
        display: block;
        width: 100%;
        height: auto;
        margin-left: auto;
        margin-right: auto; 
    }
}
