header .i-title {
  font-family: Nunito;
  font-size: 16px;
  color: #667F97;
  font-weight: bold; }
header a.go-back-link {
  color: #667F97; }

page-set-up-profile .toolbar-background {
  background: transparent !important; }

.i-page {
  background-color: #F5F6F8; }
  .i-page h1 {
    font-size: 32px;
    line-height: 1.25em;
    font-family: 'Open Sans', sans-serif; }
  .i-page .activity .date {
    top: 21px; }
  .i-page .activity .dot {
    left: -39px; }
  .i-page .primary-border-color {
    color: #2196F3 !important;
    border-color: #2196F3 !important; }
  .i-page .i-heading {
    color: #37474f;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 1.11em;
    margin-top: 5px !important;
    line-height: 1.5em;
    margin-bottom: 15px !important; }
  .i-page .i-p {
    font-family: 'Open Sans', sans-serif;
    color: #76838f;
    font-size: 14px; }
  .i-page .blue-accent-color.icon {
    color: #478aff; }
  .i-page ion-item input {
    border: none !important;
    padding: 0 !important;
    margin: 0 !important;
    width: 100% !important;
    font-size: 16px !important; }
  .i-page ion-item .item-inner {
    width: 100%;
    margin: 0 !important;
    padding: 0 !important; }
  .i-page .item-md {
    padding: 0;
    background: transparent; }
  .i-page .icon-f {
    font-size: 27px;
    color: #C5CFD9;
    float: none;
    width: 36px;
    display: flex;
    align-items: center;
    justify-content: center; }
  .i-page .icon-x {
    font-size: 36px;
    color: #C5CFD9;
    float: none; }
  .i-page .center-right-align {
    float: right;
    display: flex;
    height: 36px;
    align-items: center;
    font-weight: 400;
    font-size: 12px;
    max-width: 80px;
    text-align: right;
    line-height: 1 !important; }
  .i-page .i-normal-width {
    max-width: 50%;
    line-height: 1;
    display: flex;
    line-height: 1 !important;
    display: flex !important;
    min-height: 36px;
    align-items: center; }
  .i-page .i-text-color {
    color: #667F97; }
  .i-page em.seperate {
    height: 36px !important;
    margin-left: 10px;
    width: 2px; }
  .i-page .flex em.seperate {
    width: 2px !important; }
  .i-page i.i-size {
    font-size: 35px;
    display: flex;
    height: 36px;
    align-items: center;
    justify-content: center; }
  .i-page .list-item.flex {
    display: flex; }
  .i-page .i-img {
    display: inline-block;
    line-height: 28px;
    float: left;
    width: 36px;
    position: relative;
    left: 0px;
    display: flex;
    height: 36px;
    align-items: center; }
  .i-page button.super-right-menu {
    position: absolute;
    top: 11px;
    right: 33px;
    padding: 0px;
    height: auto;
    transform: rotate(90deg);
    font-size: 14px !important;
    box-shadow: none; }
  .i-page button.super-right-menu * {
    font-size: 30px; }
  .i-page .family .form-label-divider {
    color: #667F97;
    font-family: Nunito;
    font-size: 14px;
    line-height: 1.3;
    font-weight: 400;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    text-transform: uppercase;
    letter-spacing: 1px; }
  .i-page .family .i-img {
    display: inline-block;
    line-height: 28px;
    float: left;
    width: 36px;
    position: relative;
    left: 0px; }
  .i-page iframe.mobile-video {
    width: 100%;
    min-height: 400px; }
  .i-page .slider-sliced .swiper-slide {
    align-items: flex-start; }
  .i-page .swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets {
    bottom: 60px; }

.profile-page {
  margin-top: 50px; }
  .profile-page h1.product-view-title.txt-green {
    font-family: Nunito;
    font-size: 21px;
    font-weight: 700; }

ion-app.md ion-content.p-t-30 {
  top: 30px; }

h1.page-title.i-title {
  text-transform: uppercase !important; }

.white-bg {
  background: white !important; }

.font-smoothing-auto {
  -webkit-font-smoothing: initial !important; }

ion-label.label-md {
  font-size: 14px;
  color: black;
  padding-left: 10px;
  padding-bottom: 8px;
  color: #9e9e9e !important;
  -webkit-font-smoothing: initial; }

button.btn-large {
  -webkit-font-smoothing: initial; }

.form-inputs h4 {
  margin-bottom: 15px;
  margin-top: 15px !important;
  line-height: 1.5em;
  margin-bottom: 15px !important; }

/*# sourceMappingURL=awesome-skin.css.map */
