page-installation-successful {
    .installationSuccessful-heading {
        color: #000000;
    }
    .installationSuccessful-spacer {
        width: 300px;
        height: 26px;
    }
    .installationSuccessful-video {
        position: relative;
        overflow: hidden;
        padding-bottom: 56.25%;
        height: 0; 
    }
}
