page-reports {
    $black: #000000;

    .reports-heading {
        color: $black;
    }

    .reports-p {
        color: $black;
    }

    .reports-spacer {
        width: 300px;
        height: 41px;
    }
}
