<ion-content padding>

  <form class="login-form" novalidate [formGroup]="userValid">
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />
    <div id="content" class="grey-blue login">

      <!-- Toolbar -->
      <div id="toolbar" class="tool-login primary-color animated fadeindown">

      </div>

      <!-- Main Content -->
      <div class="login-form animated fadeinup delay-2 z-depth-1">

        <h1>Change Password</h1>
        <div class="input-field">

          <ion-list>
            <div class="input-field relative">
              <i class="ion-android-lock prefix"></i>

              <div class="pl-12">

                <ion-item class="m-0 p-0">
                  <ion-label floating>Old Password</ion-label>
                  <ion-input class="with-icons" type="password" [value]="" [(ngModel)]='oldPassword' formControlName="oldPassword"></ion-input>
                </ion-item>

                <!-- Password validation code start -->
                <small class="loginForSoaringSafe-error   " no-lines *ngIf="( userValid.get('oldPassword').hasError('minlength') || userValid.get('oldPassword').hasError('required') ) && userValid.get('oldPassword').touched">
                  <small class="signupForSoaringSafe-error" *ngIf="userValid.get('oldPassword').hasError('required') && userValid.get('oldPassword').touched">
                    password is required
                  </small>

                  <small class="signupForSoaringSafe-error " *ngIf="userValid.get('oldPassword').hasError('minlength') && userValid.get('oldPassword').touched">
                    Minimum of 7 
                  </small>
                </small>
                <!-- Password validation code Ends -->

              </div>
            </div>
          </ion-list>
        </div>

        <div class="input-field">

          <ion-list>
            <div class="input-field relative">
              <i class="ion-android-lock prefix"></i>

              <div class="pl-12">

                <ion-item class="m-0 p-0">
                  <ion-label floating>New Password</ion-label>
                  <ion-input class="with-icons" type="password" [value]="" [(ngModel)]='newPassword' formControlName="newPassword"></ion-input>
                </ion-item>

                <!-- Password validation code start -->
                <small class="loginForSoaringSafe-error   " no-lines *ngIf="( userValid.get('newPassword').hasError('minlength') || userValid.get('newPassword').hasError('required') ) && userValid.get('newPassword').touched">
                  <small class="signupForSoaringSafe-error" *ngIf="userValid.get('newPassword').hasError('required') && userValid.get('newPassword').touched">
                    password is required
                  </small>

                  <small class="signupForSoaringSafe-error " *ngIf="userValid.get('newPassword').hasError('minlength') && userValid.get('newPassword').touched">
                    Minimum of 7 characters
                  </small>
                </small>
                <!-- Password validation code Ends -->

              </div>
            </div>
          </ion-list>
        </div>

        <div class="footer-dz">
          <button class="login waves-effect waves-light btn-large accent-color width-100 m-b-20 animated bouncein delay-4" (tap)="passwordChange()"
            [disabled]="userValid.invalid">ChangePassword</button>
        </div>
      </div>
      <!-- End of Main Contents -->
    </div>
  </form>

</ion-content>