<ion-header>
  <ion-navbar>
    <ion-title>
      Help and Support
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <h3 class="helpAndSupport-heading">
    Contact Support:
  </h3>
  <div>
    <p class="helpAndSupport-heading">
      We love feedback!
    </p>
  </div>
  <ion-list>
    <ion-item href-inappbrowser="http://messenger.com">
      Open Chat
      <ion-icon name="arrow-forward" item-right></ion-icon>
    </ion-item>
    <ion-item href="mailto:rusty.banks+soaringsupport@gmail.com">
      Send Email
      <ion-icon name="arrow-forward" item-right></ion-icon>
    </ion-item>
  </ion-list>
  <h3 class="helpAndSupport-heading">
    Videos:
  </h3>
  <ion-list>
    <ion-item *ngFor="let video of videoList" (tap)="goToURL(video)">
      {{video.Title}}
      <ion-icon name="arrow-forward" item-right></ion-icon>
    </ion-item>
  </ion-list>
  <h3 class="helpAndSupport-heading">
    FAQs:
  </h3>
  <ion-list>
    <ion-item *ngFor="let faq of faqList" (tap)="goToURL(faq)">
      {{faq.Title}}
      <ion-icon name="arrow-forward" item-right></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>