<header> <!-- extra class no-background -->
  <a class="go-back-link" href="javascript:history.back();"><i class="fa fa-arrow-left color-white"></i></a>
  <h1 class="page-title i-title">            Help and Support

  </h1>

</header>
<ion-content padding>
  <div class="form-inputs i-page min-h-full"><!-- REPORTS-->
    <section class="help-section-support" style="margin-top: 30px">

      <div class="form-divider"></div>
      <div class="form-label-divider uppercase"><span>        Contact Support

          </span>
      </div>
      <small class="i-p text-center" style="
    display: block;
    margin-top: 10px;
">   We love feedback!</small>
      <div class="form-divider" style="
    margin: 0;
"></div>

      <div class="list-box">
        <a class="list-item pointer flex" href-inappbrowser="http://messenger.com">



        <span class="list-item-title i-normal-width i-text-color justify-between" style="width:100%;    max-width: 100%;
"><span>Open Chat</span>
        <ion-icon name="arrow-forward" class="icon-f" item-right></ion-icon>
      </span>
        </a>
      </div>

      <div class="list-box">
        <a class="list-item pointer flex" href="mailto:rusty.banks+soaringsupport@gmail.com" >
          <span class="list-item-title i-normal-width i-text-color justify-between" style="width:100%;    max-width: 100%;
      ">
      <span>                 Send Email

      </span>
      <ion-icon name="arrow-forward" class="icon-f" item-right></ion-icon>


      </span>


        </a>
      </div>


    </section>


      <section class="help-section-videos" style="margin-top: 0px">

      <div class="form-divider"></div>
      <div class="form-label-divider uppercase"><span>       Videos

          </span>
      </div>
      <div class="form-divider"></div>

      <div class="list-box">
        <a class="list-item pointer flex" *ngFor="let video of videoList" (tap)="goToURL(video)">
        <span class="list-item-title i-normal-width i-text-color justify-between" style="width:100%;    max-width: 100%;
"><span>      {{video.Title}}
</span>
        <ion-icon name="arrow-forward" class="icon-f" item-right></ion-icon>
      </span>
        </a>
      </div>





    </section>
    <section class="help-section-faqs" style="margin-top: 0px">

      <div class="form-divider"></div>
      <div class="form-label-divider uppercase"><span>       FAQs

          </span>
      </div>
      <div class="form-divider"></div>

      <div class="list-box">
        <a class="list-item pointer flex" *ngFor="let faq of faqList" (tap)="goToURL(faq)">
        <span class="list-item-title i-normal-width i-text-color justify-between" style="width:100%;    max-width: 100%;
"><span>      {{faq.Title}}
</span>
        <ion-icon name="arrow-forward" class="icon-f" item-right></ion-icon>
      </span>
        </a>
      </div>





    </section>






  </div>
</ion-content>






