page-set-initial-time-limits {
    $black: #000000;

    .setInitialTimeLimits-heading {
        color: $black;
    }

    .setInitialTimeLimits-p {
        color: $black;
    }

    .setInitialTimeLimits-spacer-5 {
        width: 300px;
        height: 5px;
    }

    .setInitialTimeLimits-spacer-15 {
        width: 300px;
        height: 15px;
    }
}
