page-josh-filters {
    $black: #000000;

    .joshFilters-heading {
        color: $black;
    }

    .joshFilters-spacer {
        width: 300px;
        height: 18px;
    }

    .i-p p {
        margin-top:10px;
        margin-bottom:15px;
    }

    
    .item p {
        white-space:initial;
        margin-top:10px;
        font-size:1.5rem;
    }
  .center-right-align button.button-default-md {
    min-width: 55.83px;
  }

}
