page-ready-pairing-off-device {
    $black: #37474f;

    .readyPairingOffDevice-heading {
        color: $black;
        font-size:22px;
        padding-top:85px;
        font-family: 'Open Sans', sans-serif;
        line-height: 1.11em;
    }
    .readyPairingOffDevice-spacer {
        width: 300px;
        height: 38px;
    }


    p, ol {
        font-family: 'Open Sans', sans-serif;
        color: #76838f;
        font-size: 18px;
      }

    .primary-border-color {
        height:55px;
    }
    
}
