page-ready-pairing-off-device {
    $black: #000000;

    .readyPairingOffDevice-heading {
        color: $black;
    }
    .readyPairingOffDevice-spacer {
        width: 300px;
        height: 38px;
    }
}
