page-start-pairing-on-device {
    $black: #37474f;

    .startPairingOnDevice-heading {
        color: $black;
        font-size:22px;
        padding-top:60px;
        font-family: 'Open Sans', sans-serif;
        line-height: 1.11em;
    }

    .startPairingOnDevice-spacer {
        width: 300px;
        height: 22px;
    }

    .startPairingOnDevice-video {
        position: relative;
        overflow: hidden;
        padding-bottom: 56.25%;
        height: 0;
    }

    p, ol {
        font-family: 'Open Sans', sans-serif;
        color: #76838f;
        font-size: 18px;
      }
}
