page-set-up-profile {
    $black: #000000;

    .setUpProfile-heading {
        color: $black;
    }

    .setUpProfile-p {
        color: $black;
    }

    .setUpProfile-spacer {
        width: 300px;
        height: 25px;
    }
}
