<header>
  <!-- extra class no-background -->
  <a class="go-back-link acf-cancel-btn" (tap)="cancelFilter()">Cancel</a>
  <h1 class="page-title i-title">{{title}} Custom Filter</h1>
</header>


<ion-content padding>
  <div class="form-inputs i-page min-h-full white-bg">
    <div class="custom-filter-spacer-32"></div>
    <div>
      <ion-toolbar>
        <ion-segment color="primary" [(ngModel)]="customFilter.status">
          <ion-segment-button color="primary" value="ALLOWED">
            ALLOW
          </ion-segment-button>
          <ion-segment-button color="primary" value="BLOCKED">
            BLOCK
          </ion-segment-button>
        </ion-segment>
      </ion-toolbar>
    </div>
    <div class="custom-filter-spacer-11"></div>

    <form novalidate [formGroup]="urlValidate">
      <ion-item>
        <ion-label stacked>
          Address (URL)
        </ion-label>
        <ion-input type="text" placeholder="eg google.com" formControlName="url" [(ngModel)]="customFilter.url"></ion-input>
      </ion-item>

      <!-- Start of URL Validation -->
      <div class="urlForSoaringSafe-error" no-lines *ngIf="( urlValidate.get('url').hasError('minlength') || urlValidate.get('url').hasError('pattern') ||urlValidate.get('url').hasError('required') ) && urlValidate.get('url').touched">
        Enter Correct URL
      </div>
      <!-- End of URL Validation -->

      <div class="form-divider"></div>

      <button class="waves-effect waves-light btn-large primary-color width-100" (tap)="addCustomFilter()" *ngIf="urlValidate.valid">Save</button>
      <button class="waves-effect waves-light btn-large primary-color width-100" *ngIf="urlValidate.invalid">Save</button>

      <div class="form-divider"></div>
    </form>

    <button ion-button outline class="primary-border-color" block (tap)="cancelFilter()">
      {{cancelOrDelete}}
    </button>

  </div>
</ion-content>