page-add-custom-filter {
    .custom-filter-spacer-32{
        width:300px;
        height:75px;
    }
    .custom-filter-spacer-11{
        width:300px;
        height:11px;
    }
    .custom-filter-spacer-49{
        width:300px;
        height:49px;
    }
    .urlForSoaringSafe-error {
        color: red;
    }
    .acf-cancel-btn {
        white-space: nowrap;
        width: auto;
        padding-left: 10px;
    }
}
