page-josh-iphone6 {
    .joshIPhone6-spacer {
        width: 300px;
        height: 32px;
    }
    .joshIPhone6-m {
        margin-top: 40px !important;
    }
    .joshIPhone6-width {
        width:100% !important;    
        max-width: 100% !important;
    }
    .joshIPhone6-icon {
        font-size:20px !important;
        margin-left: 10px !important;
    }
}
