page-set-initial-filters {
  $black: #37474f;


    .setInitialFilters-p {
        color: #76838f;
      font-size: 18px;
    }

.spacer {
  width:350px;
  height:10px;
}


  .setInitialFilters-heading {
    color: $black;
    color: #37474f;
    font-size: 18px;
    line-height: 1.11em;
  }

  .largerAvatar img {
    width: 60px;
    height: 60px;
  }

  p {
    font-family: 'Open Sans', sans-serif;
    color: #76838f;
  }


  .setInitialFilters-heading{
    color: #37474f;
    padding-top: 0;
    margin-top: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    line-height: 1.11em;

  }
  h1.page-title {    font-family: Nunito;
    font-size: 16px;
    color: #667F97; font-weight:bold;}

  a.go-back-link {
    color: #667F97;
  }



}
