page-login-to-soaring-safe {
    $red: #ff0000;

    .error-text {
        color:$red;
    }
    .spacer {
        width: 300px;
        height: 23px;
    }
    .loginForSoaringSafe-error {
        color: $red;
    }

  h1 {font-family: 'Open Sans', sans-serif;font-size: 32px;line-height: 1.25em;}

    .login-form {
        img {
            display: block;
            width: 90%;
            height: auto;
            margin-left: auto;
            margin-right: auto;
        }
    }
    .soaring-safe-spacer {
        width: 300px;
        height: 13px;
    }
  .login {
    min-height: auto;
  }

  .input-field label {
    font-size: 15px;
  }

  .input.ng-dirty label,.input.ng-valid label {
    font-size: 0.8rem;
    -webkit-transform: translateY(-140%);
    -moz-transform: translateY(-140%);
    -ms-transform: translateY(-140%);
    -o-transform: translateY(-140%);
    transform: translateY(-140%);
  }



  ion-input.with-icons input {
    //padding-left: 20px!important;
  }
  ion-item input {
    border: none!important;
    padding: 0!important;
    margin: 0!important;
    width: 100%!important;
  }

  ion-item .item-inner {
    width: 100%;
    margin: 0!important;
    padding: 0!important;
  }
  .login:disabled {
    //background: rgba(255, 66, 132, 0.56) !important;
  }
  i.ion-android-contact.prefix {
    z-index: 9;
    top: 27px;
    position: absolute;
  }
  .input-cover {
    border: none;
    background: none;
  }

  .list-md .item-input:last-child {
    border: none;
  }

  i.ion-android-lock.prefix {
    z-index: 99;
    top: 25px;

  }
  .login-form {
    margin: 10px;
    margin-top: -20px;
  }
  input {
    font-size: 16px!important;
  }
   i.prefix {
    color: #999;
    left: 0px;
  }

  i.prefix:before {
    font-size: 28px;
  }

  ion-item.item-md {
    padding-left: 0px;
  }
  .pl-12 {
    padding-left: 40px;
  }
  .input-field{
    margin-top: 0px;
  }
  ion-content.content.content-md {
    background: #f1f4f5;
    font-family: 'Open Sans', sans-serif!important;


  }



  .login-form {
    width: 331px;
    margin: 0 auto!important;
    margin-top: -18.1px!important;
    min-height: 355px;
  }

  h1 {
    color: #37474f;
    text-shadow: rgba(0, 0, 0, .12) 0 0 1px;
    margin: 10px 0;
  }


.login-form h1{color:#37474f;text-shadow:rgba(0, 0, 0, .12) 0 0 1px;margin:10px 0;
  font-size:32px;line-height:1.25em;margin-top: 1px!important;}

  i.prefix {
    color: rgb(118, 131, 143);
  }

  ion-label.label-md {
    margin-top: 7px;
    padding-bottom: 7px;
    font-family: 'Open Sans', sans-serif;
    color: #9e9e9e!important;
    font-size: 14px;
    -webkit-font-smoothing: auto;
    font-weight: normal;
    padding-left: 10px;
  }



  .list-md .item-block .item-inner {
    border-bottom: 1px solid #9e9e9e;
  }

  .footer-dz {
    position: absolute;
    bottom: 0px;
    width: 100%;
    left: 0;
    padding: 20px 20px;
  }
  a.primary-text {
    font-weight: 400;
  }





}

ion-app.md [padding] {
  padding: 0!important;
}

ion-app.md [padding] .scroll-content {
  padding: 0!important;
  width: 100%;
}



.font-smoothing-auto {
  -webkit-font-smoothing: auto!important
}
