
<ion-content padding>


  <form class="login-form" novalidate  [formGroup]="userValid">
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />
    <div id="content" class="grey-blue login">

      <!-- Toolbar -->
      <div id="toolbar" class="tool-login primary-color animated fadeindown">

      </div>

      <!-- Main Content -->
      <div class="login-form animated fadeinup delay-2 z-depth-1">

        <h1>Login</h1>
        <div class="input-field">

          <ion-list>
            <div class="input-field relative" >
            <i class="ion-android-contact prefix"></i>
            <div class="pl-12">
            <ion-item class="m-0 p-0">
            <i class="ion-android-contact prefix"></i>

            <ion-label floating>
              Email</ion-label>
            <ion-input class="with-icons" type="text" value="" formControlName="email"></ion-input>
            </ion-item>

            <small class="block" no-lines *ngIf="( userValid.get('email').hasError('required') || userValid.get('email').hasError('email') ) && userValid.get('email').touched">
            <small class="loginForSoaringSafe-error" *ngIf="userValid.get('email').hasError('required') && userValid.get('email').touched">
              Email is required
            </small>
            <br>
            <small class="loginForSoaringSafe-error   " *ngIf="userValid.get('email').hasError('email') && userValid.get('email').touched">
              Please enter valid email
            </small>
            </small>
            </div>
            </div>
            <div class="input-field relative">
              <i class="ion-android-lock prefix"></i>

              <div class="pl-12">
              <ion-item class="m-0 p-0">

              <ion-label floating>Password</ion-label>
              <ion-input class="with-icons" type="password" value="" formControlName="password"></ion-input>
            </ion-item>
            <!-- Password validation code start -->
            <small class="loginForSoaringSafe-error   "  no-lines *ngIf="( userValid.get('password').hasError('minlength') || userValid.get('password').hasError('required') ) && userValid.get('password').touched">
              <small class="signupForSoaringSafe-error" *ngIf="userValid.get('password').hasError('required') && userValid.get('password').touched">
                password is required
              </small>

              <small class="signupForSoaringSafe-error " *ngIf="userValid.get('password').hasError('minlength') && userValid.get('password').touched">
                Minimum of 7 characters
              </small>
            </small>
            <!-- Password validation code Ends -->
            </div>
            </div>
          </ion-list>


        </div>


        <button class="login waves-effect waves-light btn-large accent-color width-100 m-b-20 animated bouncein delay-4" (tap)="goToTabs()" [disabled]="userValid.invalid"  >Login</button>
        <span style="color:#76838f">Don't have an account? <a class="primary-text" (tap)="signupForSoaringSafe()" >Sign Up</a></span>
      </div><!-- End of Main Contents -->


    </div>


  </form>

</ion-content>
