<ion-header>
  <ion-navbar>
    <ion-title>
      Login to SoaringSafe
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <form class="login-form" novalidate  [formGroup]="userValid">
    <ion-list>
      <ion-item>
        <ion-label>
          Email
        </ion-label>
        <ion-input type="email" placeholder="" formControlName="email"></ion-input>
      </ion-item>
      <!-- Email Validation Code Start  -->
      <ion-item no-lines *ngIf="( userValid.get('email').hasError('required') || userValid.get('email').hasError('email') ) && userValid.get('email').touched">
        <div class="loginForSoaringSafe-error" *ngIf="userValid.get('email').hasError('required') && userValid.get('email').touched">
          email is required
        </div>
        <div class="loginForSoaringSafe-error" *ngIf="userValid.get('email').hasError('email') && userValid.get('email').touched">
          Please enter valid email
        </div>
      </ion-item> 
      <!-- Email Validation Code Ends -->
      <ion-item>
        <ion-label>
          Password
        </ion-label>
        <ion-input type="password" placeholder="" formControlName="password"></ion-input>
      </ion-item>
      <!-- Password validation code start -->
      <ion-item no-lines *ngIf="( userValid.get('password').hasError('minlength') || userValid.get('password').hasError('required') ) && userValid.get('password').touched">
        <div class="signupForSoaringSafe-error" *ngIf="userValid.get('password').hasError('required') && userValid.get('password').touched">
          password is required
        </div>
        <div class="signupForSoaringSafe-error" *ngIf="userValid.get('password').hasError('minlength') && userValid.get('password').touched">
          Minimum of 7 characters
        </div>
      </ion-item>
      <!-- Password validation code Ends -->
    </ion-list>
    <button ion-button color="stable" block (tap)="goToTabs()" [disabled]="userValid.invalid">
      Log In
    </button>
    <div class="spacer"></div>
    <button ion-button clear color="calm" block (tap)="signupForSoaringSafe()">
      Or create an account
    </button>
  </form>
  <button ion-button icon-start block large color="danger" (click)="loginWithGoogle()">
    <ion-icon name="logo-googleplus"></ion-icon>
    Login with Google
  </button>
</ion-content>