page-josh-reports {
    $black: #000000;

    .joshReports-p {
        color: $black;
    }

    .joshReports-spacer-17 {
        width: 300px;
        height: 17px; 
    }

    .joshReports-spacer-29 {
        width: 300px;
        height: 29px;
    }
}
